In [1]:
import src.turing_causal_impact.get_kpis_UC14 as get_kpis_UC14


import importlib
import pandas as pd
import seaborn as sns
import os
import datetime as dt
import numpy as np
import json

In [4]:
scenarios_files = ['./scenarios/Genmed/BRAZIL/brazil_puran.json']

In [5]:

scenarios = []
# with open("scenarios/us_multaq.json") as f:
#     scenarios.append(json.loads(f.read()))
# with open("scenarios/us_multaq_2.json") as f:
#     scenarios.append(json.loads(f.read()))
for s_file in scenarios_files:
    with open(s_file) as f:
        scenarios.append(json.loads(f.read()))

In [41]:
scenarios

[{'name': 'it_toujeo',
  'country': 'ITALY',
  'brands': [],
  'target_brand': 'TOUJEO',
  'metric': 'SUM(QUANTITY_SOLD)',
  'cutover': '2023-09-01',
  'min_date': '2023-01-01',
  'frequency': 'weekly'}]

In [6]:
get_kpis_UC14 = importlib.reload(get_kpis_UC14)

In [7]:
get_kpis_UC14.get_kpis_UC14(scenarios)

amer False emea True
Initiating login request with your identity provider. A browser window should have opened for you to complete the login. If you can't see it, check existing browser windows, or your OS settings. Press CTRL+C to abort and try again...
Going to open: https://login.microsoftonline.com/aca3c8d6-aa71-4e1a-a10e-03572fc58c0b/saml2?SAMLRequest=lVJdb9owFP0rkfecxE7SAhZQMRAqGutYoWziZTLODfXq2JntkPLv5wSQuodW2ps%2Fzrnn3Hvu8O61lMERjBVajRCJMApAcZ0LdRihp8087KPAOqZyJrWCETqBRXfjoWWlrOikds%2FqEf7UYF3gCylL248Rqo2imllhqWIlWOo4XU%2B%2BLmkSYcqsBeO8HLpQciu81rNzFY3jpmmiJo20OcQJxjjGg9ijWsgn9Eai%2BlijMtppruWV8up7ekeCxDhrJTzCK6wuxM9CnUfwkcr%2BDLL0frNZhatv6w0KJtfuplrZugSzBnMUHJ4el2cD1juwTOlChFAC%2B8V1WUZW6aaQ7AX8raqdLxr5U1xAHkt9EH5Ui9kIVS8iz6eS7JezeXncTvtKfWfkYXeQu%2FuePMn0x3zQ%2B5L%2F3P4WsLKao2B7DTZpg11YW8NCtXE6%2F4STLMS3ISEbktJsQNMsygZ4h4KZj1Mo5jrm1XPnIyoFN9rqwmklhYLOJeMs5f38NmSsR8IMCAsZwRDi9KaXFPymz%2FE%2BbkNL0HlxaGfEjP9zHMP4Lfmygg8%2BlcVspaXgp2CuTcnc%2B6GRiHQvIg%2BLDkqhZEJO8tyAtT48KXUzNcCc33RnakDx%2BKz6766P%2FwI%3D&RelayState=63538 to authenticate...
PURAN T-4
Query for PURAN T-4

In [8]:
for scenario in scenarios:
    print(f"Scenario: {scenario['name']}")
    print("###############################")
    print()

    #load data
    df = pd.read_parquet(f"data/{scenario['name']}-KPI.parquet")
    # {'fit_method': 'hmc'}
    # impact = causal_inference.provide_analyse(scenario, df, model_args={'fit_method': 'hmc'})
    
    # impact.plot()
    # print(impact.summary())

Scenario: brazil-puran
###############################

In [53]:
df

,COUNTRY,CHANNEL,BRAND_NM,WEEK_POST_DATE,WEEK_POST_MD,SUGGESTIONS_COUNT,SUGGESTIONS_ACTED,ACTIONED_COUNT,DISMISSED_COUNT,IGNORED_COUNT,ACTIONED_ACTED_COUNT,DISMISSED_ACTED_COUNT,IGNORED_ACTED_COUNT,HCP_COUNT,REP_COUNT,ETL_LOAD_DATE
0,ITALY,FACE_TO_FACE,TOUJEO,2023-05-01,May-01,2,2,0,0,2,0,0,2,2,2,2024-01-22 07:10:47.675016
1,ITALY,FACE_TO_FACE,TOUJEO,2023-05-08,May-08,4,4,3,1,0,3,1,0,4,3,2024-01-22 07:10:47.675016
2,ITALY,FACE_TO_FACE,TOUJEO,2023-05-15,May-15,9,5,6,2,1,2,2,1,9,4,2024-01-22 07:10:47.675016
3,ITALY,FACE_TO_FACE,TOUJEO,2023-05-22,May-22,4,4,0,2,2,0,2,2,4,4,2024-01-22 07:10:47.675016
4,ITALY,FACE_TO_FACE,TOUJEO,2023-05-29,May-29,52,37,31,14,7,26,4,7,45,7,2024-01-22 07:10:47.675016
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
817,ITALY,RT_EMAIL,TOUJEO,2024-01-08,Jan-08,19,16,8,0,11,6,0,10,19,5,2024-02-25 17:02:00.460540
818,ITALY,RT_EMAIL,TOUJEO,2024-01-15,Jan-15,577,279,239,51,287,159,16,104,404,35,2024-02-25 17:02:00.460540
819,ITALY,RT_EMAIL,TOUJEO,2024-01-22,Jan-22,632,344,231,58,343,186,13,145,409,35,2024-02-25 17:02:00.460540
820,ITALY,RT_EMAIL,TOUJEO,2024-01-29,Jan-29,554,319,215,29,310,179,3,137,410,43,2024-02-25 17:02:00.460540
821,ITALY,RT_EMAIL,TOUJEO,2024-02-05,Feb-05,494,292,204,17,273,172,4,116,330,42,2024-02-25 17:02:00.460540

In [33]:
0x00ee

238

In [40]:
(0x6D0A & 0xF000) >> 12

6